/* ------------------------------Style Dependencies------------------------------ */
/* get big noodle titling font */
@import url('https://fonts.cdnfonts.com/css/bignoodletitling');







/* ------------------------------Global Styles------------------------------ */
h1, h2, h3, h4, h5, h6, header {
    font-family: 'BigNoodleTitling', 'Impact', sans-serif;
    font-size: 160%;
    padding-left: 5px;
}

table {
    border: 2px solid #333333;
}

/* Prevent a elements from turning default blue */
a {
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

/* ------------------------------Site-wide Used Styles------------------------------ */
/* Have all links be GRC green */
.link-text {
    text-decoration: none;
    color: #2C882B;
}

/* Style the form submission buttons to be green for branding */
#submit-button {
    background-color: #2C882B;
    border-color: #006225;
}

/* ------------------------------Navbar Styling------------------------------ */
/* Navbar Styling */
.navbar {
    background-color: #2C882B;
}

/* Set styling for navbar header */
.navbar-header {
    max-height: 40px;
    margin: 0px;
}

/* Set styling for navbar items */
.nav-link {
    font-family: 'BigNoodleTitling', 'Impact', sans-serif;
    font-size: 150%;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #333333;
}


/* ------------------------------Dark Mode Styling------------------------------ */
.darkMode h1 {
    color: #6CB443;
}

#dark-light {
    float: right;
    display: inline;
    padding: 10px;
}

/* ------------------------------Darkmode Toggler Styling------------------------------ */
/* Oval background for button */
label#darkmode-label {
    width: 60px;
    height: 30px;
    position: relative;
    display: inline-block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.3s;
}

/* Yellow "light mode" circle */
label#darkmode-label:after {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    top: 3px;
    left: 3px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

/* Hide input checkbox (which is controlled by the new toggler */
input#darkmode-toggle {
    width: 0;
    height: 0;
    visibility: hidden;
}

/* When checkbox is selected, change the background color of the button */
input#darkmode-toggle:checked+label {
    background: #242424;
}

/* "Move" the button to the right and make it dark */
input#darkmode-toggle:checked+label:after {
    left: 55px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
}

/* Add in "gooey" effect for button */
label#darkmode-label:active:after {
    width: 40px;
}





/* ------------------------------Form Styling------------------------------ */
/* Form container (grouping all form sections) */
.form-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Styling for each form section */
.form-group {
    padding-top: 30px;
}

/* Have form labels be on top of form inputs */
.form-label {
    display: block;
}

.form-response {
    text-align: left;
    margin: auto;
    width: 200px;
}

/* ------------------------------Other Styling------------------------------ */
body {
    width: 97%;
    font-family: Arial;
    margin: 0;
    padding: 0;
}

header h1 {
    text-align: center;
    color: #333333;
}

header ul {
    list-style-type: none;
    padding: 10px;
    background-color: #2C882B;
    width: 100%;
}

header li {
    display: inline-block;
    padding: 5px;
}

header a {
    color: white;
    text-decoration: none;
}

td {
    padding: 5px;
}

#dash-more {
    text-align: center;
    width: 100%;
}

#resources {
    list-style: square;
    column-count: 2;
    color: #2C882B;
}

html.sr .info {
    visibility: hidden;}

html.sr .name {
    visibility: hidden;}


footer{
    position: relative;
    background: #6CB443;
    width: 104%;
    padding: 80px 50px 40px;
    margin-top: 100px;
}

footer .start{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    background-color: #2C882B;
    padding: 30px 25px;
    border-radius: 15px;
    width: 70%;
    top: -16%;
    left: 15%;
}

footer .start p{
    font-size: 13px;
    width: 35%;
}

footer .start button{
    background: transparent;
    border: 1px solid #000;
    cursor: pointer;
    padding: 8px 20px;
    border-radius: 100px;
    transition: all 0.3s ease;
}

footer .start button:hover{
    background-color: #fff;
    border-color: #fff;
}

footer .cols{
    display: flex;
    align-items: start;
}

footer .cols .about-col{
    flex: 3;
}

footer .cols .about-col h3{
    color: #2C882B;
    margin-bottom: 20px;
}

footer .cols .about-col p{
    color: #777777;
    font-size: 13px;
}

footer .cols .links-col{
    flex: 3;
}

footer .cols .links-col h4, footer .cols .news-col h4{
    color: #fff;
    margin-bottom: 20px;
}

footer .cols .links-col a{
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    line-height: 26px;
    transition: color 0.3s ease;
}

footer .cols .links-col a:hover{
    color: #2C882B;
}

footer .cols .news-col{
    flex: 3;
}

footer .cols .news-col p{
    color: #fff;
    font-size: 15px;
}

footer .cols .news-col form{
    width: 100%;
    margin-top: 20px;
    position: relative;
}

footer .cols .news-col form input{
    width: 100%;
    background: #212529;
    border: none;
    padding: 13px;
    border-radius: 100px;
    font-weight: 400;
    font-size: 13px;
}

footer .cols .news-col form button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background: #2C882B;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

footer .cols .news-col form button:hover{
    background-color: #2C882B;
}

footer .cols .news-col form button i{
    font-size: 26px;
}

@media screen and (max-width: 1100px) {
    .guarantee{
        flex-wrap: wrap;
        gap: 10px;
    }

    .guarantee .item{
        flex-basis: 49%;
    }

    .skills{
        justify-content: space-between;
        gap: 20px;
    }

    .skills .left{
        width: 500px;
    }

    .skills .left .info h3{
        font-size: 22px;
    }

    .skills .left .info p{
        font-size: 12px;
    }

    footer{
        margin-top: 150px;
    }

    footer .start{
        width: 90%;
        left: 5%;
        top: -20%;
    }

    footer .cols{
        flex-wrap: wrap;
    }

    footer .cols .about-col{
        flex-basis: 50%;
    }

    footer .cols .links-col{
        flex-basis: 50%;
    }

    footer .cols .news-col{
        flex-basis: 50%;
    }

}

@media screen and (max-width: 780px) {

    .navbar button{
        display: none;
    }

    .main h4{
        font-size: 24px;
    }

    .main p.title{
        font-size: 36px;
    }

    .main p.subtitle{
        font-size: 14px;
    }

    .guarantee .item{
        flex-basis: 100%;
    }

    .about{
        flex-wrap: wrap;
        justify-content: center;
    }

}

@media screen and (max-width: 650px) {
    .navbar{
        justify-content: center;
    }

    .navbar h2{
        display: none;
    }

    .navbar ul li a{
        font-size: 14px;
    }

    .main{
        margin-top: 50px;
        height: 320px;
        justify-content: start;
    }

    .main h4{
        font-size: 20px;
    }

    .main p.title{
        font-size: 28px;
    }

    .main p.subtitle{
        font-size: 12px;
    }

    .main img{
        margin-top: 40px;
        width: 150px;
        height: 150px;
    }

    .skills{
        flex-wrap: wrap;
        justify-content: center;
    }

    .skills .right{
        justify-content: space-between;
    }

    .skills .left .info h3{
        font-size: 20px;
    }

    footer .start{
        top: -8%;
    }

    footer .start p{
        display: none;
    }

    footer .cols .about-col{
        flex-basis: 100%;
        margin-bottom: 40px;
    }

    footer .cols .links-col{
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    footer .cols .news-col{
        flex-basis: 100%;
    }

}

@media screen and (max-width: 480px) {

    .main p.title{
        font-size: 18px;
    }

    .main p.subtitle{
        font-size: 10px;
    }

    .guarantee .item .info h3{
        font-size: 20px;
    }

    .guarantee .item .info p{
        font-size: 12px;
    }

}
